In [1]:
from sklearn import linear_model
from numpy import genfromtxt
%pylab inline
import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [108]:
def generar_correlacion(datos):
    ### generamos la correlacion lineal con LinearRegresion 
    ecuacion=[]
    clf = linear_model.LinearRegression()
    clf.fit(datos.iloc[:,:3],datos.iloc[:,3:])
    
    coeficientes = clf.coef_
    #ecuacion.append(clf.intercept__)
    factor = clf.intercept_
    ecuacion = np.append(coeficientes, factor)
    ecuacion = list(ecuacion)
    # print(list(ecuacion))
    return ecuacion

In [11]:
# leer el archivo con la información de la estaciones
archivo = pd.ExcelFile('datos_rellenados.xlsx')
datos = pd.read_excel(io=archivo,index_col=0,parsedates=True,sheet_name='Sheet1')
datos.head()

,P120,P364,P349,P043,P121,P532,P622
FECHA,,,,,,,
1963-01-01,98.599998,249.000000,204.982086,136.626236,100.176987,102.138268,105.561844
1963-02-01,130.199997,159.699997,181.016479,153.961151,71.781181,66.388359,88.614380
1963-03-01,154.300003,188.899994,201.716873,140.271667,81.764816,60.359131,86.530258
1963-04-01,110.000000,111.099998,125.213799,100.379921,65.364723,34.400215,54.454197
1963-05-01,62.900002,80.900002,78.963104,66.699997,59.084435,36.915268,49.523899

In [51]:
# leer el archivo con la ubicación y altura de la estaciones
archivo_est = pd.ExcelFile('HA_Stations.xlsx')
ubicacion = pd.read_excel(io=archivo_est,index_col=0,sheet_name='Stations')
ubicacion.head()

                         Nombre   Latitud   Longitud  Altitud
Codigo
P043      MARISCAL SUCRE INAMHI -0.637500 -78.490829     3670
P120           COTOPAXI-CLIRSEN -0.618167 -78.569832     3560
P121        EL REFUGIO-COTOPAXI -0.655500 -78.568657     4800
P349    HDA.PINANTURA(LA COCHA) -0.421667 -78.353333     3250
P364            LORETO PEDREGAL -0.556833 -78.422501     3620

In [13]:
datos['date']=datos.index
datos['month'] = datos['date'].apply(lambda x: x.month)
del datos['date']
# datos.head()
promedios = datos.groupby('month').mean()
promedios

,P120,P364,P349,P043,P121,P532,P622
month,,,,,,,
1,100.864006,158.195316,145.556872,143.809767,90.796256,87.667688,127.187843
2,116.095743,158.597727,165.432818,142.858079,81.059008,81.645428,107.020569
3,142.701626,192.686363,192.562789,147.911956,97.379102,84.306188,109.923278
4,140.435801,163.872727,189.526465,142.375111,87.478111,68.314256,93.809758
5,115.901431,128.125000,135.037360,118.254878,71.565893,47.797554,60.709088
6,68.505489,63.313637,79.012148,87.294441,52.477340,50.850009,47.846255
7,47.633625,38.022727,60.881888,77.054898,50.859932,56.481857,40.608785
8,40.399564,36.531818,64.462337,72.088903,51.290258,52.360080,31.195027
9,80.329837,91.631818,120.070465,81.768063,66.714411,47.781374,45.880593
10,114.092705,158.150000,166.182979,125.693324,93.797357,79.518107,105.797630
11,104.160344,168.336363,163.533006,127.332369,113.234521,78.648278,116.449369
12,105.100820,162.863635,154.063753,134.797686,103.163665,79.337102,127.877577

In [111]:
#### Unir los datos de promedios y la informacion de Latitud, Longitud y Altitud
datos_procesar = ubicacion.loc[:,['Latitud','Longitud','Altitud']].copy()
todas_estaciones = ['P120','P364','P349','P043','P121','P532','P622']
for mes in range(1,13):
    datos_procesar[mes]=promedios.loc[mes,todas_estaciones]

In [120]:
# Correlacion
matriz_ecuaciones = []

for item in range(3,15):
    datos_corr = datos_procesar.iloc[:,[0,1,2,item]].copy()
    ecuacion = generar_correlacion(datos_corr)
    ecuacion.insert(0,item-2)
    matriz_ecuaciones.append(ecuacion)



ecuaciones = pd.DataFrame(matriz_ecuaciones, columns = ['Mes', 'Coef_Latitud','Coef_Longitud','Coef_Altitud','FactorIndependiente']) 
#print(matriz_ecuaciones)

#generar_correlacion(datos_corr)
ecuaciones.head()

   Mes  Coef_Latitud  Coef_Longitud  Coef_Altitud  FactorIndependiente
0    1   -357.644887     438.276784     -0.022168         34394.288593
1    2   -312.241964     323.985257     -0.042787         25528.586832
2    3   -281.478319     268.545010     -0.048613         21233.808068
3    4   -185.512870     113.227508     -0.055561          9114.754433
4    5   -266.784603      97.023229     -0.049433          7745.540606

In [121]:
# exportar los datos a excel
ecuaciones.to_excel('ecuaciones.xlsx')